table {
  width: 100%;
  margin-bottom: 1rem;

  td,
  th {
    border: 1px solid black;
    padding: 0.5em 1rem;
  }

  td {
    background: gainsboro !important;
    text-align: center;
    transition: all 0.3s ease;

    &.disabled {
      opacity: 0.5;
      background: bisque !important;
    }
    &.active {
      background: rgb(228, 247, 27) !important;
    }
    &.selected {
      background: rgb(94, 238, 75) !important;
    }

    &:hover:not(.disabled) {
      background: wheat !important;
      cursor: pointer !important;
    }
  }

  .active {
    color: black;
    font-weight: bold;

  }

  .selected {
    color: blue;
  }
}
