<div class="row justify-content-center">
  <div class="col-10">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">пн</th>
          <th scope="col">вт</th>
          <th scope="col">ср</th>
          <th scope="col">чт</th>
          <th scope="col">пт</th>
          <th scope="col">сб</th>
          <th scope="col">вс</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of calendar">
          <td
            *ngFor="let day of week.days"
            [class.disabled]="day.disabled"
            [class.selected]="day.selected"
            [class.active]="day.active"
            (click)="select(day)"
          >
            <div class="ms-2 me-auto position-relative">
              <span [class.selected]="day.selected" [class.active]="day.active">
                {{ day.value | moment: "DD" }}
              </span>
              <div class="d-flex flex-row positionBadge">
                <span
                  *ngIf="day?.quantityNoCompleted"
                  class="badge rounded-pill bg-primary"
                  >{{ day?.quantityNoCompleted }}</span
                >
                <span
                  *ngIf="day?.quantityCompleted"
                  class="badge rounded-pill bg-success"
                  >{{ day?.quantityCompleted }}</span
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
