<section class="mb-3 ml3 mt-3">
  <header class="d-flex justify-content-center mb-2">
    <div>
      <span>
        <button
          class="btn btn-link btn_"
          data-bs-toggle="tooltip"
          title="сегодня"
          (click)="nowDate()"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-calendar4-event"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M14 2H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"
            />
            <path
              fill-rule="evenodd"
              d="M14 2H2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v2h16V3a2 2 0 0 0-2-2H2z"
            />
            <path
              fill-rule="evenodd"
              d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"
            />
            <rect width="2" height="2" x="11" y="7" rx=".5" />
          </svg>
        </button>
        список задач:
        <strong>
          {{ dateService.date | async | moment: " Do MMMM YYYY" }}
        </strong>
      </span>
    </div>
  </header>

  <form (ngSubmit)="submit()" [formGroup]="form" *ngIf="isAdmin">
    <div class="row justify-content-start">
      <div class="col-11">
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="col-1">
        <button
          type="submit"
          class="btn btn-primary btn-block float-end"
          [disabled]="this.form.invalid"
        >
          Добавить
        </button>
      </div>
    </div>
  </form>

  <div class="list-group mt-3" *ngIf="tasks.length; else noTasks">
    <ul class="list-group w-100">
      <li
        class="list-group-item d-flex justify-content-between align-items-center mt-1 "
        [ngClass]="{
          'text-decoration-line-through list-group-item-success':
            task.completed,
          'list-group-item-primary': !task.completed
        }"
        *ngFor="let task of tasks | sort"
      >
        {{ task.title }}
        <button
          *ngIf="!task.completed"
          type="submit"
          class="btn btn-outline-danger"
          [ngClass]="{
            'btn-outline-danger': isAdmin,
            'btn-success': !isAdmin
          }"
          (click)="isAdmin ? remove(task.id) : success(task.id)"
        >
          {{ isAdmin ? "Удалить" : "Выполнено" }}
        </button>
      </li>
    </ul>
  </div>

  <ng-template #noTasks>
    <div class="d-flex justify-content-center p-2 bd-highlight">
      <p class="">задач нет</p>
    </div>
  </ng-template>
</section>
