<div
  class="container"
  *blockUI="
    'user-loader';
    message: loaderMessage;
    template: blockUiTemplateComponent
  "
>
  <h2 class="row justify-content-center pt-5">Задачи сотрудников</h2>
  <div class="row justify-content-center pt-2">
    <div class="col-10">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Количество активных задач</th>
            <th scope="col">Количество выполненных задач</th>
            <th scope="col">Права</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of userList; index as index"
            [ngClass]="{
              'border fw-bold': user.userName == userName
            }"
          >
            <td>{{ index + 1 }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.quantityNotes }}</td>
            <td>{{ user.quantityConfirmNotes }}</td>
            <td>{{ user.roles.join(", ") }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
